AplicacionWeb/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftbl_user">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_user" nillable="true" type="tns:tbl_user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_user" nillable="true" type="tns:ArrayOftbl_user" />
  <xs:complexType name="tbl_user">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrePersona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_user" nillable="true" type="tns:tbl_user" />
</xs:schema>